---
import { Image } from 'astro:assets';
import HowItWorksImage from '../assets/top/how-it-works.webp';
import { howItWorksId } from '../constants';
---

<section id={howItWorksId} class="how-it-works">
    <div class="container">
        <Image src={HowItWorksImage} alt="How It Works" />
        <div class="text-center header">
            <h2>How It Works</h2>
            <p>授業参加までの3ステップ</p>
            <a href="#" class="learn-more-button">
                Learn More
            </a>
        </div>
       </div>

        <div class="steps-grid">
            <div class="step">
                <h3>1. Sign Up for Success Academy</h3>
                <p>
                    こちらで生徒アカウントを作成。
                    登録後すぐに14日間の無料体験を開始できます。
                </p>
            </div>

            <div class="step">
                <h3>2. Check Lesson Schedule</h3>
                <p>
                    生徒ページにログインし、レッスンスケジュールを確認。フリーレッスン（集団授業）の教材やZOOMリンクもご確認いただけます。
                </p>
            </div>

            <div class="step">
                <h3>3. Join Class!</h3>
                <p>
                    クラスに必要なプリント・筆記用具を用意して時間になったら指定のZOOMに入るだけ！
                </p>
            </div>
        </div>
</section>

<style>
  .how-it-works {
    padding: 64px 0;
    background-color: var(--white);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 32px;
   align-items: center;
  }

  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  .header {
    margin-bottom: 48px;
  }

  .header h2 {
    font-size: 56px;
    font-weight: 900;
    color: var(--primary-navy);
  }

  .header p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-navy);
  }

  .learn-more-button {
    margin-top: 24px;
    display: inline-block;
    background-color: var(--primary-orange);
    color: var(--white);
    padding: 12px 32px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  .learn-more-button:hover {
    background-color: #d55f2d;
  }

  .steps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-top: 64px;
  }


  .step h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-navy);
  }

  .step p {
    color: var(--black);
    font-size: 14px;
    line-height: 1.5;
  }
</style>